.customTable {
  width: 850px;
  margin: 30px auto;
  border: none;
  box-shadow: 0px 0px 8px 2px #ccc;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

@media (max-width: 900px) {
  .App {
    width: 95%;
    padding: 0 10px;
    margin: 0 auto;
    overflow: scroll;
    position: relative;
  }

  .search {
    position: sticky;
    left: 0;
    top: 0;
  }
}

.head {
  background: #ecf0f4;
}

.headField {
  padding: 10px;
  background: #ecf0f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.field{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #FFF;
}

.search {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
